.container {
  border: 2px purple solid;
  border-radius: 5px;
  padding: 0.75rem;
  margin: 0.75rem 1.25rem;
}

.container a:link,
.container a:visited {
  display: grid;
  grid-template-columns: 8% 30% 30% 27% 5%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
