.container {
  display: flex;
  flex-direction: column;
  background-color: #faf1e4;
  width: 45vw;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
  font-size: 1.5rem;
  border: 1px solid gray;
  background-color: #cedebd;
}

.bottomContainer {
  padding-top: 0.75rem;
  height: 85%;
  width: 100%;
  background-color: rgb(244, 238, 238, 0.5);
  border: 1px solid gray;
  overflow-y: scroll;
}

.bottomContainer::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
