.container {
  display: flex;
  flex-direction: column;
  background-color: #faf1e4;
  border-right: 1.5px solid gray;
  width: 45vw;
}

.topContainer {
  height: 15%;
  font-size: 1.5rem;
  border: 1px solid gray;
  background-color: #cedebd;
}

.bottomContainer {
  height: 85%;
  border: 1px solid gray;
  overflow-y: scroll;
}

.bottomContainer::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
