.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  padding: 1.5rem;
}

.topContainer {
  display: flex;
  max-height: 20%;
  border: 2px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
}

.topContainer div {
  margin-left: 1rem;
}

.topContainer img {
  width: 80px;
}

.bottomContainer {
  background-color: white;
  border-radius: 5px;
  height: 80%;
}
