.container {
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
}

.topContainer {
  border-bottom: 2px solid black;
  padding-left: 0.5rem;
}

.topContainer form {
  display: flex;
}

.topContainer button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.topContainer i {
  margin-right: 0.5rem;
}

.topContainer input {
  border: none;
}

.bottomContainer {
  padding-left: 0.5rem;
  border: 2px solid green;
}

.bottomContainer ul {
  list-style: none;
  cursor: pointer;
}

.bottomContainer li:hover {
  background-color: grey;
}
