.container {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.topContainer {
  border-bottom: 2px solid black;
  padding-left: 0.5rem;
}

.topContainer form {
  display: flex;
}

.topContainer button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.topContainer i {
  margin-right: 0.5rem;
}

.topContainer input {
  border: none;
}
