.container {
  display: flex;
  border: 2px solid gray;
  background-color: rgb(244, 238, 238, 0.5);
  border-radius: 10px;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 1rem;
  margin: 0.75rem 0rem;
}

.leftContainer {
  width: 75%;
}

.leftContainer img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px black solid;
}

.leftContainer a:link,
.leftContainer a:visited {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  border-right: 2px solid gray;
}

.rightContainer {
  display: flex;
  width: 25%;
  justify-content: center;
}

.rightContainer button {
  margin-left: 1rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}
