.container {
  border: 2px solid gray;
  border-radius: 5px;
}

.container ul {
  height: 72vh;
  padding: 1rem;
  overflow-y: scroll;
}

.container li {
  list-style-type: none;
  position: relative;
  width: 3px;
  padding-top: 1.5rem;
  background-color: #f45b69;
}

.container li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f45b69;
  transform: translateX(-50%) translateY(-500%);
}

.container div {
  min-width: 420px;
  padding: 1rem;
  background-color: #ff061b10;
}

.container i {
  color: rgb(255, 153, 0);
}
