.container {
  display: flex;
  background-color: white;
  border-left: 3px solid black;
  border-right: 3px solid black;
  height: 100%;
}

.leftContainer {
  width: 35vw;
}

.topleftContainer {
  padding: 1.5rem;
  height: 20%;
}

.bottomLeftContainer {
  border-top: 3px solid black;
  padding: 1rem 1.5rem;
  height: 80%;
}

.bottomLeftContainer div {
  width: 85%;
  height: 85%;
}

.rightContainer {
  border-left: 3px solid black;
  width: 35vw;
  padding: 1.5rem;
}
