.container {
  display: flex;
  height: 100%;
  padding: 1.5rem;
}

.leftContainer {
  width: 35vw;
  margin-right: 1.5rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.topleftContainer {
  height: 22.5%;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.bottomLeftContainer {
  height: 77.5%;
  padding: 1rem;
}

.bottomLeftContainer div {
  display: flex;
  justify-content: center;
  width: 92.5%;
  height: 92.5%;
}

.rightContainer {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 35vw;
  padding: 1rem;
}
