.container {
  display: flex;
  height: 100%;
}

.leftContainer {
  width: 40vw;
}

.topleftContainer {
  padding: 1.5rem;
  border: 2px solid red;
  height: 20%;
}

.bottomLeftContainer {
  padding: 1rem 1.5rem;
  border: 2px solid red;
  height: 80%;
}

.bottomLeftContainer div {
  width: 85%;
  height: 85%;
}

.rightContainer {
  border: 2px solid green;
  width: 40vw;
  padding: 1.5rem;
}
