.homepage {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border: 3px solid var(--color-dark1);
  background-color: #ffffff;
}

.homepage h1 {
  color: var(--color-dark1);
}

.homepage p {
  text-align: center;
  font-size: 1.25rem;
}

.homepage a:link,
.homepage a:visited {
  display: inline-block;
  background-color: var(--color-dark0);
  color: var(--color-light1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
