.container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0rem 1.75rem;
  padding: 1rem;
  height: 75%;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.5rem;
}

.leftContainer h1 {
  color: var(--color-dark1);
}

.leftContainer p {
  text-align: center;
  font-size: 1.5rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container a:link,
.container a:visited {
  display: inline-block;
  background-color: var(--color-dark0);
  color: var(--color-light1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
