.container {
  display: flex;
  flex: 1;
}

.mapContainer {
  display: flex;
  width: 100%;
}

.mapContainerLeft {
  position: absolute;
  z-index: 10;
  align-self: center;
  height: 10vh;
}

.mapContainerCenter {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.map {
  height: 100%;
}

.mapContainerRight {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 10%;
  right: 2.5%;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  padding-left: 0.25rem;
}

.mapContainerRight i {
  margin-right: 0.5rem;
}

.mapContainerRight input {
  border: none;
}
