.container {
  display: flex;
  flex: 1;
}

.mapContainer {
  display: flex;
  width: 100%;
}

.mapContainerLeft {
  position: absolute;
  z-index: 10;
  align-self: center;
}

.mapContainerLeft button {
  height: 10vh;
}

.mapContainerCenter {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.map {
  height: 100%;
}

.mapContainerRight {
  position: absolute;
  z-index: 10;
  top: 10%;
  right: 2.5%;
}
