.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border: #444444 solid 3px;
  background-color: #ffffff;
  width: 35%;
  margin-top: 3rem;
  padding: 1.25rem;
}

.container section {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
}

.container form {
  border-top: #444444 solid 2px;
  border-bottom: #444444 solid 2px;
  padding: 1rem 0rem;
}

.container form div {
  text-align: left;
  color: #444444;
  margin-bottom: 1rem;
}

.container form button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container a:link,
.container a:visited {
  color: #05aae1;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.container i {
  padding-right: 0.5rem;
}

.container img {
  height: 30px;
  width: 30px;
}

.container span {
  padding-left: 1rem;
}
