.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  border: gray solid 3px;
  border-radius: 10px;
  background-color: white;
  height: 87.5%;
  width: 35%;
  padding: 1.25rem 2rem;
}

.topContainer {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.topContainer div {
  display: flex;
  align-items: center;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.25rem;
  height: 77.5%;
}

.centerContainer div {
  margin: 1.25rem 0rem;
}

.centerContainer button {
  padding: 0.6rem 1.2rem;
  font-size: 1.15rem;
  border-radius: 5px;
  border: 1.75px solid gray;
  cursor: pointer;
}

.centerContainer button:hover {
  border: 2px solid black;
  color: white;
  background-color: gray;
}

.centerContainer span {
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 1rem;
  color: red;
}

.bottomContainer {
  display: flex;
  align-items: center;
  height: 12.5%;
}

.container a:link,
.container a:visited {
  color: #05aae1;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0.25rem;
  font-weight: 600;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
}

.container a:hover {
  color: white;
  background-color: #05aae1bc;
}

.container i {
  padding-right: 0.5rem;
}

.container img {
  height: 30px;
  width: 30px;
  margin-left: 1rem;
}
