.container ul {
  height: 72vh;
  border: 1px solid green;
  border-radius: 5px;
  padding: 1rem;
  overflow-y: scroll;
}

.container ul::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.container li {
  list-style-type: none;
  position: relative;
  width: 3px;
  padding-top: 1.5rem;
  background-color: #f45b69;
}

.container li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f45b69;
  transform: translateX(-50%) translateY(-350%);
}

.container div {
  min-width: 480px;
  padding: 1rem;
  /* border: 1px solid #f45b69; */
  background-color: #f45b6810;
}
