.container {
  border: 2px solid gray;
  background-color: #ffffff;
  border-radius: 10px;
  width: 80vw;
}

.topContainer {
  display: flex;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
  height: 7.5vh;
  padding: 1rem;
}

.topContainerLeft {
  width: 70%;
}

/* .topContainerRight {
  display: flex;
  width: 32.5%;
  align-items: center;
} */

.topContainerRight {
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
  width: 30%;
}

.topContainerRight {
  border-bottom: 2px solid black;
  padding-left: 0.5rem;
}

.topContainerRight form {
  display: flex;
}

.topContainerRight button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.topContainerRight i {
  margin-right: 0.5rem;
}

.topContainer input {
  border: none;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  height: 72.5vh;
  overflow-y: scroll;
}

.bottomContainer::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
