.container {
  display: flex;
  border: 1px solid blue;
  height: 100%;
}

.leftContainer {
  border: 2px solid red;
  width: 40vw;
}

.topleftContainer {
  border: 2px solid red;
  height: 25%;
}

.bottomLeftContainer {
  border: 2px solid red;
  height: 75%;
}

.rightContainer {
  border: 2px solid green;
  width: 40vw;
  padding: 2rem 3rem;
}

.bottomRightContainer ul {
  height: 72vh;
  border: 1px solid green;
  border-radius: 5px;
  padding: 1rem;
  overflow-y: scroll;
}

.bottomRightContainer ul::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.bottomRightContainer li {
  list-style-type: none;
  position: relative;
  width: 3px;
  padding-top: 1.5rem;
  background-color: #f45b69;
}

.bottomRightContainer li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f45b69;
  transform: translateX(-50%) translateY(-350%);
}

.bottomRightContainer div {
  min-width: 480px;
  padding: 1rem;
  /* border: 1px solid #f45b69; */
  background-color: #f45b6810;
}
