.container {
  border: 2px solid purple;
  height: 100%;
  width: 70%;
  padding: 1rem;
}

.topContainer {
  display: flex;
  flex-direction: column;
  height: 25%;
  border: 2px solid green;
}

.topHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBodyContainer {
  display: flex;
  border-top: 2px solid red;
  padding: 0.5rem 0rem;
}

.topLeftBodyContainer {
  border: 2px solid orange;
}

.topLeftBodyContainer div {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

.topRightBodyContainer {
  width: 100%;
  margin-left: 0.75rem;
}

.centerPart1Container {
  border: 2px solid green;
  height: 25%;
}

.centerPart1HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centerPart1BodyContainer {
  border-top: 2px solid red;
  padding: 0.5rem 0rem;
}

.centerPart2Container {
  border: 2px solid green;
  height: 25%;
}

.centerPart2HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centerPart2BodyContainer {
  border-top: 2px solid red;
  padding: 0.5rem 0rem;
}

.bottomContainer {
  border: 2px solid green;
  height: 25%;
}

.bottomHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomBodyContainer {
  border-top: 2px solid red;
  padding: 0.5rem 0rem;
}
