.container {
  display: flex;
  justify-content: center;
  background-color: var(--color-dark1);
  border: 3px solid black;
  width: 15vw;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0.5rem;
  gap: 3rem;
}

.container div {
  color: #ededed;
}

.container a:link,
.container a:visited {
  text-decoration: none;
  color: #ededed;
  font-size: 1.5rem;
  font-weight: 400;
}

.container i {
  padding-right: 1rem;
}
