.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bottomContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #3c2a21 3px;
  background-color: #cedebd;
  padding: 1rem 2rem;
}

.bottomContainer div {
  display: grid;
  align-items: center;
  grid-template-columns: 125px 350px 125px;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.container button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border: solid #3c2a21 2px;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  float: right;
}
