@import "https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap";

:root {
  --color-dark0: #1a120b;
  --color-dark1: #3c2a21;

  --color-light0: #d5cea3;
  --color-light1: #e5e5cb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 100%;
  color: black;
  line-height: 2;
}
