.outerContainer {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: white;
  width: 30%;
}

.innerContainer label {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.innerContainer span {
  padding-left: 1rem;
  color: red;
}

.upload {
  padding: 0rem;
  border: 2px solid black;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.datePicker div {
  z-index: 5;
}

.btn {
  border: 2px solid grey;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
}

.btn:hover {
  border: 2px solid black;
}
