.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark0);
  padding: 0.5rem 2rem;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header i {
  color: var(--color-light1);
  padding: 0.5rem;
}

.header a:link,
.header a:visited {
  text-decoration: none;
  color: var(--color-light1);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
}
