.container {
  padding: 0.5rem;
}

.topContainer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topContainer a:link,
.topContainer a:visited {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
  margin-left: 1rem;
  width: 10%;
}

.topContainer a:hover {
  border: 2px solid gray;
}
