.container {
  padding: 1rem;
}

.formContainer {
  border: 2px solid pink;
  border-radius: 5px;
  padding: 1rem;
}

.formContainer label {
  font-weight: 700;
  font-size: 1.15rem;
}

.topFormContainer {
  display: flex;
  align-items: center;
  border: 2px solid green;
}

.topFormContainer div {
  margin-left: 1rem;
}

.centerFormContainer {
  border: 2px solid red;
  height: 42.5vh;
  margin: 0.5rem 0rem;
}

.date {
  height: 22%;
  width: 50%;
}

.bottomFormContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid blue;
  height: 8vh;
  padding: 0rem 0.75rem;
}

.bottomFormContainer button {
  height: 5vh;
  width: 5vw;
}

.datePicker div {
  z-index: 1;
}
