.container {
  height: 100%;
  padding: 1rem;
}

.formContainer {
  border: 2px solid gray;
  background-color: white;
  border-radius: 10px;
  height: 67.5vh;
}

.formContainer h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

.formContainer label {
  font-weight: 700;
  font-size: 1.25rem;
}

.formContainer p {
  font-weight: 400;
  font-size: 1.15rem;
}

.topFormContainer {
  display: flex;
  align-items: center;
  border-bottom: 2px solid gray;
  background-color: #f1efef;
  background-color: var(--color-light1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0rem 1rem;
  height: 16%;
}

.centerFormContainer {
  border-bottom: 2px solid gray;
  padding: 0.5rem 1rem;
  height: 72%;
}

.bottomFormContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 1rem;
  height: 12%;
  background-color: #f1efef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.date {
  height: 22%;
  width: 50%;
}

.datePicker div {
  z-index: 1;
}
